*{
    box-sizing: border-box;
    margin: 0%;
}
body {
    width: 100%;
    height: 100;
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white

}
.data{
    width:100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 20px;
    width: 150px;
    align-items: center;
    gap: 5px;
}

#light{
    height: 100px;
    width: 100px;
    border: solid;
}